{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "es6": true,
            "jsx": true
        }
    },
    "rules": {
        "comma-dangle": [0],
        "no-unused-vars" : [1],
        "no-console": [0],
        "no-unreachable": [1],
        "no-return-assign": [1],
        "no-inner-declarations": [1],
        "no-empty": [1],
        "no-mixed-spaces-and-tabs": [1]
    },
    "globals": {
        "atom": false
    }
}
